
<head>
    <title>Delete an album!</title>
</head>

<body>
    <div class="title">
        <h1>Delete an album from Photoshare</h1>
        If the name of the photo you want to delete is: xx, please enter: 'xx' (inside quotes)
    </div>
    <form method="post" action="{{ url_for('delete_album') }}">
        <label for="aname">Enter the name of the album you want to delete:</label>
        <input type="aname" name="aname" /><br />
        <input type="submit" value="Confirm" />
    </form>
    <ul>

        <li><a href='/logout'>Logout</a></li>
        <li><a href='/'>Home</a></li>
    </ul>
</body>