<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
<h4>{{message}}!</h4>
{% endif %}

<body>
    <div class="title">
        <h1>Enter your Friend's Email Below</h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('friends_final_add2') }}">
            <label for="email">Enter an Email:</label>
            <input type="email" name="email" /><br />
            <input type="submit" />
        </form>
     </div>
</body>

<ul>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>
