<!doctype html>
{% if message %}
<h4>{{message}}!</h4>
{% endif %}



<h1>Hello User!</h1>

{% if h1 %}
    <h4>{{h1}}</h4>
{% endif %}

{% if photos %}
<h2>Enjoy these photos:</h2>
<ul>
    {% for photo in ex %}
        
        <li><h1>{{photo[2]}}:</h1></li>
            <h2>Photo ID = {{photo[1]}}</h2><br>
            
            <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' />
            <h2> {{photo[-2]}} Like(s)</h2><br>
            <h2> Liked By: {{photo[-1]}}</h2><br>
            <h2>Comments: </h2>
            {% for i in range(3, (photo|length)-2) %}
                <h3>{{photo[i]}}</h3>
            {% endfor %}
            <br>
            <div id="content">

                <form method="post" action="{{ url_for('cl_photos') }}">
                    <label for="like">Add a like? (Enter yes if you want to)</label>
                    <input type="like" name="like" />
                    <label for="picid">Enter the Photo ID for this Photo (See under caption)</label>
                    <input type="picid" name="picid" />
                    <input type="submit" /> <br><br>
                </form>

                <form method="post" action="{{ url_for('cl_photos') }}">
                    <label for="enter">Add a Comment:</label>
                    <input type="enter" name="enter" />
                    <label for="picid">Enter the Photo ID for this Photo (See under caption)</label>
                    <input type="picid" name="picid" />
                    <input type="submit" /> <br><br>
                </form>

                
             </div>
        </li>
 
    {% endfor %}
</ul>
{% endif %}

<ul>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>
