<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
<h4>{{message}}!</h4>
{% endif %}

{% if aa %}
<h4>{{aa}}!</h4>
{% endif %}

<title>Photoshare</title>
{% if name %}
<h1>Hello {{ name }}!</h1>
{% endif %}

{% if photos %}
<h2>Here are your photos</h2>
<ul>
  {% for photo in photos %}

  <li>{{photo[2]}}<br>
    <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' />
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if message is none %}
<p>You should <a href='/login'>login!</a></p>
{% else %}
<h3> Go to <a href='/profile'>Profile?</a></h3>
{% endif %}

<ul>
  <li><a href='/upload'>Upload a Photo</a> </li>
  <li><a href='/view'>View all Photos</a> </li>
  <li><a href='/deletePhoto'>Delete a Photo</a> </li>
  <li><a href='/comsearch'>Search on Comments</a> </li>
  <li><a href='/'>Photos You May Like</a> </li>
  <br>
  <li><a href='/createAlbum'>Create an Album</a> </li>
  <li><a href='/createTag'>Create a Tag</a> </li>
  <li><a href='/deleteAlbum'>Delete an Album</a> </li>

  <br>
  <li><a href='/mytaggedphotos'>View my photos with a specific tag(s)</a> </li>
  <li><a href='/alltaggedphotos'>View all photos with a specific tag(s)</a> </li>
  <li><a href='/mostpopulartags'>View the most popular tag(s) on PhotoShare</a></li>
  <br>
  <li><a href='/top_users'>Top Users</a> </li>
  <br>
  <li><a href='/add_friends'>Search for a User</a> </li>
  <li><a href='/finaladd'>Add a Friend</a> </li>
  <li><a href='/friendslist'>My Friends</a> </li>
  <li><a href='/friendrec'>Friend Suggestions</a> </li>

  <br>
</ul>
<h3><a href='/logout'>Logout</a></h3>
<h3><a href='/'>Refresh</a></h3>