<!doctype html>
<h1>Hello User!</h1>

{% if rows %}
<h2>The most used tag(s) on PhotoShare:</h2>
<ul>
    {% for row in rows %}

        <li>
            Tag name: {{row[2]}}, no. of times used: {{row[1]}}<br>
        </li>

 
    {% endfor %}
</ul>
{% endif %}

<ul>

    <li><a href='/mytaggedphotos'>View your photos with one of these specific tag(s)</a> </li>
    <li><a href='/alltaggedphotos'>Search all photos with one of these specific tag(s)</a> </li>
    <li><a href='/'>Home</a></li>
  </ul>