<!doctype html>
<h1>The user exits!</h1>

<body>
    <div class="title">
        <h1>Do you want to add this user as a friend?</h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('search_friends') }}">
            <label>yes</label>
            <input type="submit" />
            <br />
            <label>no</label>
            <input type="submit" />
        </form>
     </div>
</body>

<ul>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>
