<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Find your photos with a specific tag!</title>
</head>
    <body>
        <div class="title">
            <h1>Enter the tag(s) you are looking for:</h1>
        </div>
            <form method="post" enctype="text/plain" action="/deleteAlbums">
                <label for="tags">Tags:</label>
                <input type="text" name="name" required='true' /><br />
                <input type="submit" value="Confirm" />
            </form>
        <ul>
            <li><a href='/upload'>Upload a photo</a> </li>
            <li><a href='/createAlbum'>Create an album</a> </li>
            <li><a href='/view'>View all photos</a> </li>
            <li><a href='/logout'>Logout</a></li>
            <li><a href='/'>Home</a></li>
        </ul>
    </body>
